# General
ENVIRONMENT=development
SECRET_KEY=jvbdfjvbflsidbfjs
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Backend
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/recode
REDIS_URL=redis://redis:6379/0
MONGODB_URL=mongodb://admin:secretpassword@mongodb:27017/?authSource=admin
MONGODB_DB_NAME=form_builder

# Database Credentials (used by docker-compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=recode
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=secretpassword

# ClickHouse
CLICKHOUSE_URL=http://clickhouse:8123

# RustFS
RUSTFS_URL=http://rustfs:9000
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin

# Third-party Services
RESEND_API_KEY=your_resend_api_key
RESEND_SENDER_EMAIL=formbar@emails.manan.cloud
RESEND_SENDER_NAME="FormBar 2026"

# Frontend
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
